{% extends 'tat_sys/base.html' %}

{% block title %}
Welcome to ARSP-DMU | Monitoring
{% endblock title %}


{% block breadcrumb %}
    <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Monitoring</h4>
                        <!-- <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active">Dashboard</li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav> 
                        </div> -->
                    </div>
                </div>
            </div>
{% endblock breadcrumb %}



{% block content %}
{% if user.userprofile.is_super_encoder or user.userprofile.is_site_encoder  %}
<div class="d-flex flex-row col-md-8 mx-auto m-b-15">
    <a href="javascript:void(0)" data-toggle="modal"
    data-target="#add-new-event"
    class="btn m-t-20 btn-success btn-block waves-effect waves-light">
    <i class="ti-plus"></i> Add New Isolate
</a>
</div>
{% endif %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <!-- card -->
        <div class="card">
            <div class="card-body">
                {% if errors %}
                <ul>
                    {% for field, field_errors in errors.items %}
                        {% for error in field_errors %}
                            <li>{{ field }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
                <h4 class="card-title m-b-0 m-t-3">Isolates List</h4>
                <div class="table-responsive">
                    <table id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <!-- <th style="text-align:center">Date Received</th> -->
                                <th style="text-align:center">Site Code</th>
                                <th style="text-align:center">Accesion number</th>
                                <th style="text-align:center">Date Created</th>
                                <th style="text-align:center">Encoded By</th>
                                <th style="text-align:center">Actions</th>
                                
                        </thead>
                        <tbody>
                            {% for referred in referreds%}
                            <tr>
                            <td style="text-align:center">{{ referred.hospital_code }}</td>
                            <td style="text-align:center">
                                <a href="/tat_sys/referred_view/{{ referred.uuid }}">{{ referred.accession_number }} </a>
                            </td>
                            <td style="text-align:center">{{ referred.created_at }}</td>
                            <td style="text-align:center">{{ referred.created_by }}</td>
                            <td style="text-align:center">
                                <a href="/tat_sys/generate_report/{{ referred.uuid }}" data-toggle="tooltip" data-placement="top" target="_blank" data-original-title="Generate Report">
                                    <i class="mdi mdi-download"></i>
                                </a>


                            </td>
                        </tr>
                            {% endfor %}
                            {% comment %} {% for batch in batches  %}
                           
                                <tr class="
                                    {% if batch.get_running_tat >= 50  %}
                                    table-danger
                                    {% elif batch.get_running_tat < 50 and batch.get_running_tat >= 40 %}
                                    table-warning
                                    {% endif %}">
                                    <!-- <td style="text-align:center">{{ batch.get_format_date }}</td> -->
                                    <td style="text-align:center">{{ batch.site }}</td>
                                    <td style="text-align:center">{{ batch.batch_name }}</td>
                                    <td style="text-align:center">{{ batch.date_received }}</td>
                                    <td style="text-align:center">
                                    {% if batch.number_of_isolate_encoded > 0 %}
                                    <a href="/tat_sys/referred_list_view/{{ batch.uuid }}">{{ batch.number_of_isolate_encoded }} / {{ batch.number_of_isolates }}</a>
                                    {% else %}
                                    {{ batch.number_of_isolate_encoded }} / {{ batch.number_of_isolates }}
                                    {% endif %}
                                    
                                    </td>
                                       <td style="text-align:center">
                                       {% if batch.number_of_isolate_encoded != batch.number_of_isolates %}
                                       <a href="#" onclick="createIsolate('{{ batch.batch_name }}','{{ batch.id }}','{{ batch.get_reference_number }}','{{ batch.get_lab_number }}')" data-toggle="tooltip" data-placement="top" title="" data-original-title="Encode isolate to this batch">
                                        <i class="mdi mdi-lead-pencil"></i>
                                         </a>
                                       {% endif %}
                                      
                                        <a href="#" onclick="deleteBatch('{{ batch.batch_name }}','{{ batch.id }}')" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                            <i class="mdi mdi-close"></i>
                                        </a>
                                   
                                   
                                </td>
                                </tr>
                          
                            
                            {% endfor  %}   {% endcomment %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <!-- <th style="text-align:center">Date Received</th> -->
                                <th style="text-align:center">Site Code</th>
                                <th style="text-align:center">Accesion number</th>
                                <th style="text-align:center">Date Created</th>
                                <th style="text-align:center">Encoded By</th>
                                <th style="text-align:center">Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
      
   
</div>

<!-- BEGIN MODAL -->

<!-- Modal Add Category -->
<!-- END MODAL -->


<div class="modal fade none-border" id="add-new-event">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Did you received any referred isolates today?</h4>
                <button type="button" class="close"  data-dismiss="modal"
                    aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'create_referred' %}">
                    {% csrf_token %}
                    <!-- <input type="hidden" value="{{ user.get_full_name  }}" name="received_by"> -->
                    {% if user.userprofile.is_super_encoder or user.userprofile.is_lab_encoder  %}
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">Hospital Code</label>
                            <select class="form-control form-white" data-placeholder="Choose a site.."
                                name="hospital_code" required>
                                <option value=""> </option>
                                {%for hl in hospitals%}
                                <option value="{{ hl.id }}">{{hl.hospital_code}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Accession Number: </label>
                            <input class="form-control form-white" placeholder="Enter accession number..." type="text"
                                name="accession_number"  required/>
                        </div>
                    </div>
                    {% endif %}
                    {% if user.userprofile.is_site_encoder %}
                    <div class="row">
                        
                            <input name="hospital_code" type="hidden" value="{{user.userprofile.hospital.ida}}"/>
                      
                        <div class="col-md-12">
                            <label class="control-label">Accession Number: </label>
                            <input class="form-control form-white" placeholder="Enter accession number..." type="text"
                                name="accession_number"  required/>
                        </div>
                    </div>
                    {% endif %}
                    <hr>
        
     
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger waves-effect waves-light save-category">Save</button>
                <button type="button" class="btn btn-secondary waves-effect"
                    data-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
    </div>
</div>


<div class="modal fade none-border" id="deleteBatch">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Delete this batch</strong></h4>
                <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'delete_batch' %}">
                    {% csrf_token %}
                    <input type="hidden" name="batch_id" id="batch_id">
                    <h4>Are you sure you want to delete <b id="batch_name"></b>?</h4>
                    <h4>All data that is binded with this batch will also be deleted.</h4>
                    
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger waves-effect waves-light save-category">Yes</button>
                <button type="button" class="btn btn-secondary waves-effect"
                    data-dismiss="modal">No</button>
            </div>
        </form>
        </div>
    </div>
</div>



<div class="modal fade none-border" id="createIsolate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Encode isolate to this batch</strong></h4>
                <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="create_batch_id" id="create_batch_id">
                    <input type="hidden" name="reference_number" id="reference_number">
                    <input type="hidden" name="lab_number" id="lab_number">
                    <h3>Are you sure you want to create isolate <b id="lab_number_txt"></b> with reference number: <b id="reference_number_txt"></b> ?</h3>
                    
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger waves-effect waves-light save-category">Yes</button>
                <button type="button" class="btn btn-secondary waves-effect"
                    data-dismiss="modal">No</button>
            </div>
        </form>
        </div>
    </div>
</div>

<script>

    function deleteBatch(batch_name,batch_id){
        $('#batch_name').text(batch_name);
        $('#batch_id').val(batch_id);
        $('#deleteBatch').modal();
    }
    
    function createIsolate(batch_name,batch_id,reference_number,lab_number){
        $('#reference_number').val(reference_number);
        $('#reference_number_txt').text(reference_number);
        $('#lab_number_txt').text(lab_number);
        $('#lab_number').val(lab_number);
        $('#create_batch_id').val(batch_id);
        $('#createIsolate').modal();
    }

</script>
{% endblock content %}

